In [19]:
import re
import pandas as pd #数据分析
import numpy as np #科学计算
from pandas import Series,DataFrame
import sklearn.preprocessing as preprocessing
import scipy.io as sio
import os

from sklearn.ensemble import RandomForestRegressor,RandomForestClassifier
from sklearn import linear_model
from sklearn.neighbors import KNeighborsClassifier
#导入Scikit learn库中的KNN算法
from sklearn import svm
#从sklearn库中导入svm
from sklearn import cross_validation

In [71]:
def changeDtype(src,dstdtype='int64'):
    a=src.values
    a=np.array(a,dtype=dstdtype)
    return a
#对有无Age分开
def getAgeData(data):
    scaler = preprocessing.StandardScaler()
    data_hasAge = data[pd.notnull(data.Age)]
    age_scale_param = scaler.fit(data_hasAge['Age'])
    data_hasAge['Age_scaled'] = scaler.fit_transform(data_hasAge['Age'], age_scale_param)
    # 没有Age
    data_noAge = data[pd.isnull(data.Age)]
    data_noAge.drop(['Age'], axis=1, inplace=True)
    return data_hasAge,data_noAge

def set_missing_ages(data,featurelist):
    df=data.copy()
    # 把已有的数值型特征取出来丢进Random Forest Regressor中
    age_df = df[featurelist]
    # 乘客分成已知年龄和未知年龄两部分
    known_age = age_df[df.Age.notnull()].as_matrix()
    unknown_age = age_df[df.Age.isnull()].as_matrix()

    # y即目标年龄
    y = df[df.Age.notnull()].Age.as_matrix()
    # X即特征属性值
    X = known_age

    # fit到RandomForestRegressor之中
    rfr = RandomForestRegressor(random_state=0, n_estimators=2000, n_jobs=-1)
    rfr.fit(X, y)
    # 用得到的模型进行未知年龄结果预测
    predictedAges = rfr.predict(unknown_age)
    # 用得到的预测结果填补原缺失数据
    df.loc[ (df.Age.isnull()), 'Age' ] = predictedAges
    return df

#ratio为取测试样本的比例
#ratio=0则表示只取训练集，带标签
#ratio=1则表示只取测试集，不带标签
def predata(file_path='./dataset/train.csv',savefile=True,savepath='./data',ratio=0.2,predataflag=1):
    #读取
    # 载入数据,如果存在保存的数据，则直接载入保存数据
    if savefile and os.path.exists(savepath + '/'+  'Titanic_data' + "_" + str(ratio)+'.mat') == True:
        #直接载入数据
        print('从已保存数据载入...')
        DataSetMat = sio.loadmat(savepath + '/'+  'Titanic_data' + "_" + str(ratio)+"_predataflag"+str(predataflag)+'.mat')
        if(ratio==0):
            return np.array([]),np.array([]),np.array(DataSetMat['Tr']),np.array(DataSetMat['Tr_l'])[0]
        return np.array(DataSetMat['Te']),np.array(DataSetMat['Te_l'])[0],np.array(DataSetMat['Tr']),np.array(DataSetMat['Tr_l'])[0]
    else:
        print("the dataset you selected dos'nt exist!!! working on data preprocess!")
    #否则，预处理数据
    data_train = pd.read_csv(file_path)
    data_len=len(data_train)
    test_number=int(ratio*(data_len))
    train_number=data_len-test_number
    print('总样本集为%d行，取测试集比例%f，取%d个测试集，%d个训练集'%(data_len,ratio,test_number,train_number))
    data_pre = data_train.copy()
    # 预处理数据，离散的映射到类别空间，连续的映射到[0,1]
#     data_pre.drop(['Name', 'Ticket'], axis=1, inplace=True)
    data_pre.drop(['Ticket'], axis=1, inplace=True)
    #匹配Name并离散化为变量
    data_pre.loc['Name'] = setName(data_pre['Name'].copy)
    # 离散值映射
    data_pre.loc[(data_pre.Sex == 'male'), 'Sex'] = 0
    data_pre.loc[(data_pre.Sex == 'female'), 'Sex'] = 1
    data_pre.Sex = changeDtype(data_pre.Sex)

    data_pre.loc[(data_pre.Cabin.notnull()), 'Cabin'] = 1
    data_pre.loc[(data_pre.Cabin.isnull()), 'Cabin'] = 0
    data_pre.Cabin = changeDtype(data_pre.Cabin)

    data_pre.loc[(data_pre.Embarked.isnull()), 'Embarked'] = 0
    data_pre.loc[(data_pre.Embarked == 'Q'), 'Embarked'] = 1
    data_pre.loc[(data_pre.Embarked == 'S'), 'Embarked'] = 2
    data_pre.loc[(data_pre.Embarked == 'C'), 'Embarked'] = 3
    data_pre.Embarked = changeDtype(data_pre.Embarked)
    data_pre.loc[(data_pre.Parch != 0), 'Parch'] = 1
    data_pre.loc[(data_pre.SibSp != 0), 'SibSp'] = 1
    # 对实数变量，缩放到0-1
    scaler = preprocessing.StandardScaler()
    fare_scale_param = scaler.fit(data_pre['Fare'])
    data_pre['Fare_scaled'] = scaler.fit_transform(data_pre['Fare'], fare_scale_param)
    #预测缺失的age值
    featurelist=['Pclass','Sex','SibSp','Fare_scaled','Parch','Cabin','Embarked']
    data_pre=set_missing_ages(data_pre,featurelist)
    #并归一化
    fare_scale_param = scaler.fit(data_pre['Age'])
    data_pre['Age_scaled'] = scaler.fit_transform(data_pre['Age'], fare_scale_param)

    if(predataflag==0):#该种预处理方式是直接将类别标号，将离散数据归一化
        #分别获取其特征和标签矩阵
        if ratio!=1:
            featurelist2 = ['Survived','Pclass', 'Sex', 'SibSp', 'Fare_scaled','Age_scaled', 'Parch', 'Cabin', 'Embarked']
            data=data_pre[featurelist2].as_matrix()
            # 分出测试集和训练集
            data_test = np.array(data[:test_number,1:])
            label_test=np.array(data[:test_number,0])
            data_train = np.array(data[test_number:,1:])
            label_train = np.array(data[test_number:, 0])
        elif ratio==1:
            #只取测试集，不带标签
            featurelist2 = ['Pclass', 'Sex', 'SibSp', 'Fare_scaled', 'Age_scaled', 'Parch', 'Cabin',
                            'Embarked']
            data = data_pre[featurelist2].as_matrix()
            # 分出测试集和训练集
            data_test = np.array(data[:test_number,:])
            label_test = []
            data_train = []
            label_train = []
    elif(predataflag==1):#该种预处理，对类别特征离散为二值特征
        #二值化
        dummies_Cabin = pd.get_dummies(data_pre['Cabin'], prefix='Cabin')
        dummies_Embarked = pd.get_dummies(data_pre['Embarked'], prefix='Embarked')
        dummies_Parch = pd.get_dummies(data_pre['Parch'], prefix='Parch')
        dummies_SibSp = pd.get_dummies(data_pre['SibSp'], prefix='SibSp')
        dummies_Pclass = pd.get_dummies(data_pre['Pclass'], prefix='Pclass')
        dummies_Sex = pd.get_dummies(data_pre['Sex'], prefix='Sex')
        #链接
        df = pd.concat([data_pre, dummies_Cabin, dummies_Embarked, dummies_Parch, dummies_SibSp, dummies_Sex, dummies_Pclass],axis=1)
        #去除源类别
        df.drop(['Pclass', 'Sex','SibSp','Parch', 'Cabin', 'Embarked'], axis=1, inplace=True)
        #featurelist2 = ['Survivdfed', 'Pclass', 'Sex', 'SibSp', 'Fare_scaled', 'Age_scaled', 'Parch', 'Cabin', 'Embarked']
        # 分出测试集和训练集
        if ratio != 1:
            # 获取需要的类别
            data = df.filter(
                regex='Survived|Age_.*|SibSp|Parch_.*|Fare_.*|Cabin_.*|Embarked_.*|Sex_.*|Pclass_.*').as_matrix()
            data_test = np.array(data[:test_number, 1:])
            label_test = np.array(data[:test_number, 0])
            data_train = np.array(data[test_number:, 1:])
            label_train = np.array(data[test_number:, 0])
        elif ratio == 1:
            # 获取需要的类别
            data = df.filter(
                regex='Age_.*|SibSp|Parch_.*|Fare_.*|Cabin_.*|Embarked_.*|Sex_.*|Pclass_.*').as_matrix()
            data_test = np.array(data[:test_number, :])
            label_test = []
            data_train = []
            label_train = []

    if(savefile):
        if not os.path.exists(savepath):
            os.makedirs(savepath)
        realPath = savepath + '/'+  'Titanic_data' + "_" + str(ratio)+"_predataflag"+str(predataflag)
        filedict={'Te':data_test,'Te_l':label_test,'Tr':data_train,'Tr_l':label_train}
        sio.savemat(realPath + '.mat',filedict)
        print('数据已保存到%s'%(realPath))
    #
    return data_test,label_test,data_train,label_train

In [63]:
str1='woshgouwronog Mr. ksmg'
str2='owroq Miss. olgkpe'
str3='owroq Master. olgkpe'
c='Moran, Mr. James'
Miss='^.*Miss.*$'
Mr='^.* Mr\. .*$'
Master='^.* Master\. .*$'
if (re.match(Mr,c)):
    print("hhdf")

hhdf

In [72]:
file_path='./dataset/train.csv'
data_train = pd.read_csv(file_path)
data_len=len(data_train)

def setName(data):
#     print(data)
    name=[]
    Mr='^.* Mr\. .*$'
    Miss='^.* Miss\. .*$'
    Mrs='^.* Mrs\. .*$'
    Master='^.* Master\. .*$'
    lens = len(data)
    print(lens)
    Name_num=data.copy()
    for i in range(lens):
        if re.match(Mr,data[i]):
            name.append('Mr')
            data.loc[i]='Mr'
            Name_num.loc[i]=0
        elif re.match(Miss,data[i]):
            name.append('Miss')
            data.loc[i]='Miss'
            Name_num.loc[i]=1
        elif re.match(Mrs,data[i]):
            name.append('Mrs')
            data.loc[i]='Mrs'
            Name_num.loc[i]=2
        elif re.match(Master,data[i]):
            name.append('Master')
            data.loc[i]='Master'
            Name_num.loc[i]=3
        else:
            name.append('Norm')
            data.loc[i]='Norm'
            Name_num.loc[i]=4
#     print(len(name),name)
    #转换类型
    Name_num=changeDtype(Name_num)
#     print(data.values)
    return data,Name_num

data_pre = data_train.copy()
    # 预处理数据，离散的映射到类别空间，连续的映射到[0,1]
#     data_pre.drop(['Name', 'Ticket'], axis=1, inplace=True)
data_pre.drop(['Ticket'], axis=1, inplace=True)
#匹配Name并离散化为变量
data_pre['NameExtens'],data_pre['Name_num'] = setName(data_pre['Name'].copy())
data_pre

891

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked,NameExtens,Name_num
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,7.2500,NaN,S,Mr,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,71.2833,C85,C,Mrs,2
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,7.9250,NaN,S,Miss,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,53.1000,C123,S,Mrs,2
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,8.0500,NaN,S,Mr,0
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,8.4583,NaN,Q,Mr,0
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,51.8625,E46,S,Mr,0
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,21.0750,NaN,S,Master,3
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,11.1333,NaN,S,Mrs,2
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,30.0708,NaN,C,Mrs,2
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,16.7000,G6,S,Miss,1
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,26.5500,C103,S,Miss,1
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,8.0500,NaN,S,Mr,0
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,31.2750,NaN,S,Mr,0
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,7.8542,NaN,S,Miss,1
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,16.0000,NaN,S,Mrs,2
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,29.1250,NaN,Q,Master,3
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,13.0000,NaN,S,Mr,0
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,18.0000,NaN,S,Mrs,2
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,7.2250,NaN,C,Mrs,2
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,26.0000,NaN,S,Mr,0
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,13.0000,D56,S,Mr,0
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,8.0292,NaN,Q,Miss,1
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,35.5000,A6,S,Mr,0
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,21.0750,NaN,S,Miss,1
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,31.3875,NaN,S,Mrs,2
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,7.2250,NaN,C,Mr,0
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,263.0000,C23 C25 C27,S,Mr,0
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,7.8792,NaN,Q,Miss,1
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,7.8958,NaN,S,Mr,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,11.5000,NaN,S,Mr,0
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,25.9292,D17,S,Mrs,2
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,69.5500,NaN,S,Miss,1
864,865,0,2,"Gill, Mr. John William",male,24.0,0,0,13.0000,NaN,S,Mr,0
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,13.0000,NaN,S,Mrs,2
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,13.8583,NaN,C,Miss,1
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,50.4958,A24,S,Mr,0
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,9.5000,NaN,S,Mr,0
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,11.1333,NaN,S,Master,3
870,871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,7.8958,NaN,S,Mr,0
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,52.5542,D35,S,Mrs,2
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,5.0000,B51 B53 B55,S,Mr,0
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,9.0000,NaN,S,Mr,0
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,24.0000,NaN,C,Mrs,2
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,7.2250,NaN,C,Miss,1
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,9.8458,NaN,S,Mr,0
877,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,7.8958,NaN,S,Mr,0
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,7.8958,NaN,S,Mr,0
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,83.1583,C50,C,Mrs,2
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,26.0000,NaN,S,Mrs,2
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,7.8958,NaN,S,Mr,0
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,10.5167,NaN,S,Miss,1
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,10.5000,NaN,S,Mr,0
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,7.0500,NaN,S,Mr,0
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,29.1250,NaN,Q,Mrs,2
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,13.0000,NaN,S,Norm,4
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,30.0000,B42,S,Miss,1
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,23.4500,NaN,S,Miss,1
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,30.0000,C148,C,Mr,0
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,7.7500,NaN,Q,Mr,0